section{
    max-width: 10000px;
   }
   .g_img{
    width: 350px;
    margin: 10px 35px;
    border-radius: 10px;
}
   .Next{
       display: flex;
       justify-content: center;
   }
   .Next1,.Next2{
   margin: 20px;
   padding: 1px 2px;
   }
   .Next1:hover,.Next2:hover{
       background-color: rgba(128, 128, 128, 0.541);
       border-radius: 10px;
   }
   @media (max-width: 900px){
       .g_img{
           width: 350px;
           margin: 5px 20%;
           margin: 5px auto;
       }
   }